{% extends "base.html" %} {% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container11" height=1000px>
  <div class="row justify-content-md-center">
    <div class="col-6">
      <br>
      <form method="post" action=".">
        {% csrf_token %}
        <div style="width:300px;margin-left:auto;margin-right:auto;">
        <!-- 账号 -->
        <div class="form-group">
          <label for="username"style="font-size:15px;">账号</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <!-- 密码 -->
        <div class="form-group" >
          <label for="password"style="font-size:15px;">密码</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <!-- 提交按钮 -->
        <button type="submit" class="btn btn-primary"style="font-size:15px;">登录</button>
        <div class="form-group" >
        <br>
        <h4>还没有账号？</h4>
        <h4>点击<a href="{% url 'register' %}">注册账号</a>加入我们吧！</h4>
        <br>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}